@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: #E2E7EB */
  background: #333333
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.t05{
  transition: all .5s;
}
.clipPath{
  clip-path: polygon(0 0, 91% 0, 100% 100%, 6% 100%);
}
.aboutw{
  background-image: url('./../public/about/headerQ.png');
  background-size: cover;
}
.aboutExp{
  background-image: url('./../public/about/gradiant.png');
  background-size: cover;
}
.bg1{
  background-image: url('./../public/bg1.png');
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: 10% 10% 10% 10%;
}

